@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	@apply font-sans antialiased text-black bg-white;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

body,
html,
#__next {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.marquee {
	display: flex;
	height: 100vh;
	align-items: center;
}

.item {
	letter-spacing: -0.05em;
	padding-right: 0.25em;
	white-space: nowrap;
	-webkit-user-select: none;
	user-select: none;
	/* will-change: transform; */
}
